.pc{
  background-color: azure;
}

.posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.posts img{
    width:28%;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 40px 1px #777;
 
}


/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #777; 
    border-radius: 28px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  @media screen and (max-width: 700px) {
    .posts img{
      width: 100%;
    }
}
